<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <p class="footer-column text">Place sticky footer content here.</p>
      </div>

      <div class="six columns footer-column">
        <form action="{{ site.baseurl }}/search/" method="get" class="search-form">
          <div class="form-group">
            <input type="text" id="search-box" class="form-control" name="query" placeholder="Query...">
          </div>

          <button type="submit" class="button button-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</footer>
