<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Site's JavaScript files, from assets/production/javascript folder -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/development/javascript/main.js"></script>

<!-- Search functionality -->
<script src="{{ site.baseurl }}/assets/production/javascript/lunr.min.js"></script>
<script src="{{ site.baseurl }}/assets/production/javascript/search.min.js"></script>

<!-- Include Google Analytics script below -->
